.overview {
  margin-top: 70px;
  width: 80%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

.overview__header {
  display: block;

  &.overview__header--bold {
    font-weight: bold;
  }
}
